*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgb(241, 241, 241), rgb(255, 255, 255));
    margin: 0;
    padding: 0;
}
.fondo{
    height: 1080px;
    width: 1920px;
    background: wheat;
}


.capa1 {
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1;

}
.capa2 {

        position: absolute;
        left: 10px;
        top: 100px;
        z-index: 2;
    }
.capa3{
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 3;
}
.anima1 {
    position: relative;
    animation: comiendo 4s infinite;

}
.anima2 {
    position: relative;
    animation: volando 4s infinite;

}
.anima3{
    position: relative;
    animation: waddle_dee 4s infinite;
}

@keyframes comiendo{
    0% {
        left: 0%;top: 500px;width: 0px;
    }

    20% {
        left: 20%;top: 0px;width: 0px;
    }

    40% {
        left: 40%;top: 500px;width: 0px;
    }
 
    41% {
        left: 41%;top: 499px;width: 500px;
    }
    59% {
        left: 59%;top: 1px;width: 500px;
    }
    60% {
        left: 60%;top: 0px;width: 0px;
        
       
    }

    80% {
        left: 80%;top:500px;width: 0px;
        
    }

    100% {
        left: 100%;top:0px;width: 0px;
    }
    }

@keyframes volando{
    0% {
        left: 0%;top: 500px;rotate:y -180deg;width: 500px;
    }

    20% {
        left: 20%;top: 0px;rotate:y -180deg;width: 500px;
    }

    40% {
        left: 40%;top: 500px; rotate:y -180deg;width: 500px;
    }
 
    41% {
        left: 41%;top: 499px; rotate:y -180deg;width: 0px;
    }
    59% {
        left: 59%;top: 1px; rotate:y -180deg;width: 0px;
    }
    60% {
        left: 60%;top: 0px;rotate:y -180deg;width: 500px;
        
       
    }

    80% {
        left: 80%;top:500px;rotate:y -180deg;width: 500px;
        
    }

    100% {
        left: 100%;top:0px;rotate:y -180deg;width: 500px;
    }
}

@keyframes waddle_dee{
    0%{
        left: 100%; top: 0px; width: 500px;
    }
    20%{
        left: 80%; top: 250px; width: 500px;
    }
    40%{
        left: 50%; top: 0px; width: 500px;
    }
    50%{
        left: 60%; top: 0px; width: 500px;
    }
    55%{
        left: 50%; top: 0px; width: 0px;
    }
    100%{
        left: 50%; top: 0px; width: 0px;
    }

}